
.box{
    border: 1px solid black;
    /* padding: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.boxes{
   display: grid;
   grid-template-columns: repeat(3, minmax(125px, 125px));
   grid-template-rows: repeat(3, minmax(125px, 125px));
}
 
.boxlist{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 50px;
   gap: 20px;
}

.timmer,.score{
   font-size: 30px;
}

.timmer-group{
   margin: 20px;
}

.timmer-btn{
   margin: 7px;
   padding: 12px;
}
