.task-lists {
   display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.task-lists button{
   
   padding: 10px;
   background-color: blueviolet;
   color: whitesmoke;
}

.task-container h3{
   text-align: center;
   margin: 70px;
   font-size: 30px;
}